<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="Student" packages="">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p - %m%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="F:/Folder/Student-2/Logs/app.log"
			filePattern="F:/Folder/Student-2/Logs/b3l3a.%d{yyyyMMdd}.log">
			<PatternLayout>
				<Pattern>%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
	 <Logger name="org.la" additivity="false">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="console" />
        </Logger>
		<Root level="debug">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>