<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>advance-java</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/list/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/user/delete/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServlet</servlet-name>
		<url-pattern>/user/add/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/user/update/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/user/detail/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSearchServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServlet</servlet-name>
		<url-pattern>/user/search/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebUserServlet</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>shoaeebUserServlet</servlet-name>
	<url-pattern>/user/list/shoaeeb</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebDeleteUser</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>shoaeebDeleteUser</servlet-name>
	<url-pattern>/user/delete/shoaeebDelete</url-pattern>
	</servlet-mapping>

	<servlet>
	<servlet-name>shoaeebUpdateUser</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserUpdateController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebUpdateUser</servlet-name>
	<url-pattern>/user/update/shoaeebUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebDetailUser</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserDetailController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebDetailUser</servlet-name>
	<url-pattern>/user/detail/shoaeebDetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebCreateUser</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>shoaeebCreateUser</servlet-name>
	<url-pattern>/user/create/shoaeebcreate</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebUserSearch</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.UserSearchController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>shoaeebUserSearch</servlet-name>
		<url-pattern>/user/search/shoaeebsearch</url-pattern>
	</servlet-mapping>
	
	
	<!-- for employee -->
	<servlet>
	<servlet-name>shoaeebEmployeeList</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.EmployeeController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebEmployeeList</servlet-name>
	<url-pattern>/employee/list/shoaeeb</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebEmployeeSearchList</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.EmployeeSearchController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebEmployeeSearchList</servlet-name>
	<url-pattern>/employee/search/shoaeebsearch</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>shoaeebEmployeeDetails</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.EmployeeDetailsController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebEmployeeDetails</servlet-name>
	<url-pattern>/employee/details/shoaeebdetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebEmployeeDelete</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.EmployeeDeleteController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>shoaeebEmployeeDelete</servlet-name>
		<url-pattern>/employee/delete/shoaeebdelete</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>shoaeebEmployeeCreate</servlet-name>
	<servlet-class>org.ecom.student.shoaeeb.controller.EmployeeCreateController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>shoaeebEmployeeCreate</servlet-name>
	<url-pattern>/employee/create/shoaeebcreate</url-pattern>
	</servlet-mapping>
</web-app>