<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>advance-java</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/list/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/user/delete/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServlet</servlet-name>
		<url-pattern>/user/add/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/user/update/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/user/detail/jawed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSearchServlet</servlet-name>
		<servlet-class>org.ecom.jawed.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServlet</servlet-name>
		<url-pattern>/user/search/jawed</url-pattern>
	</servlet-mapping>
	
</web-app>