<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>advance-java</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/list/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>employeeAsifServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.EmployeeListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeAsifServlet</servlet-name>
		<url-pattern>/employee/list/asif</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServletElhadj</servlet-name>
		<url-pattern>/user/list/elhadj</url-pattern>
	</servlet-mapping>
	
     <servlet>
		<servlet-name>userServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServletNoorain</servlet-name>
		<url-pattern>/user/list/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userServletNizam</servlet-name>
		<servlet-class>org.ecom.nizam.controller.UserControllerNizaam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServletNizam</servlet-name>
		<url-pattern>/user/list/nizam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>teamServlet</servlet-name>
		<servlet-class>org.ecom.controller.TeamController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teamServlet</servlet-name>
		<url-pattern>/team/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studentServlet</servlet-name>
		<servlet-class>org.ecom.controller.StudentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentServlet</servlet-name>
		<url-pattern>/student/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>employeeServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeServlet</servlet-name>
		<url-pattern>/employeeController/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardServlet</servlet-name>
		<url-pattern>/CreditCard/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoServlet</servlet-name>
		<url-pattern>/EmployeeTwo/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/user/delete/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServletNoorain</servlet-name>
		<url-pattern>/user/delete/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServletNizam</servlet-name>
		<servlet-class>org.ecom.nizam.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServletNizam</servlet-name>
		<url-pattern>/user/delete/nizam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServletElhadj</servlet-name>
		<url-pattern>/user/delete/elhadj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeDeleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeDeleteServlet</servlet-name>
		<url-pattern>/employeeDeleteController/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardDeleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardDeleteServlet</servlet-name>
		<url-pattern>/CreditCard/Delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoDeleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoDeleteServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServlet</servlet-name>
		<url-pattern>/user/add/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServletNoorain</servlet-name>
		<url-pattern>/user/add/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createEmployeeServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.EmployeeCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createEmployeeServlet</servlet-name>
		<url-pattern>/employee/add/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createServletNizam</servlet-name>
		<servlet-class>org.ecom.nizam.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServletNizam</servlet-name>
		<url-pattern>/user/add/nizam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createServletElhadj</servlet-name>
		<url-pattern>/user/add/elhadj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeCreateServlet</servlet-name>
		<url-pattern>/employeeCreateController/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardCreateServlet</servlet-name>
		<url-pattern>/CreditCard/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoCreateServlet</servlet-name>
		<url-pattern>/EmployeeTwo/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/user/update/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServletNoorain</servlet-name>
		<url-pattern>/user/update/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServletElhadj</servlet-name>
		<url-pattern>/user/update/elhadj</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServletNizam</servlet-name>
		<servlet-class>org.ecom.nizam.controller.UserUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServletNizam</servlet-name>
		<url-pattern>/user/update/nizam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeUpdateServlet</servlet-name>
		<url-pattern>/employeeUpdateController/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardUpdateServlet</servlet-name>
		<url-pattern>/CreditCard/Update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoUpdateServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/user/detail/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>detailServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserDetailController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>detailServletNoorain</servlet-name>
		<url-pattern>/user/detail/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>detailServletNizam</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServletNizam</servlet-name>
		<url-pattern>/user/detail/nizam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>detailServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServletElhadj</servlet-name>
		<url-pattern>/user/detail/elhadj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeDetailServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeDetailServlet</servlet-name>
		<url-pattern>/employeeDetailController/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardDetailServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardDetailServlet</servlet-name>
		<url-pattern>/CreditCard/Detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoDetailServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoDetailServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userSearchServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServlet</servlet-name>
		<url-pattern>/user/search/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>employeeAsifSearchServlet</servlet-name>
		<servlet-class>org.ecom.asif.controller.EmployeeSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeAsifSearchServlet</servlet-name>
		<url-pattern>/employee/search/asif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSearchServletNoorain</servlet-name>
		<servlet-class>org.ecom.noor.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServletNoorain</servlet-name>
		<url-pattern>/user/search/noorain</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSearchServletNizam</servlet-name>
		<servlet-class>org.ecom.nizam.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServletNizam</servlet-name>
		<url-pattern>/user/search/nizam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSearchServletElhadj</servlet-name>
		<servlet-class>org.ecom.elhadj.controller.UserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSearchServletElhadj</servlet-name>
		<url-pattern>/user/search/elhadj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeSearchServlet</servlet-name>
		<url-pattern>/employeeSearchController/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditCardSearchServlet</servlet-name>
		<url-pattern>/CreditCard/Search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoNameController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoSearchServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Name</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoDobServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoDobController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoDobServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Dob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoEmailServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoEmailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoEmailServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Email</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoGenderServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoGenderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoGenderServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Gender</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoJoinedDateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoJoinedDateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoJoinedDateServlet</servlet-name>
		<url-pattern>/EmployeeTwo/JoinedDate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoReleaseDateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoReleaseDateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoReleaseDateServlet</servlet-name>
		<url-pattern>/EmployeeTwo/ReleaseDate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeTwoNoticeperiodServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeTwoNoticeperiodController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTwoNoticeperiodServlet</servlet-name>
		<url-pattern>/EmployeeTwo/Noticeperiod</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveServlet</servlet-name>
		<url-pattern>/Employeefive/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailEmpFiveServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailEmpFiveServlet</servlet-name>
		<url-pattern>/Employeefive/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchServlet</servlet-name>
		<url-pattern>/Employeefive/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveUpdateServlet</servlet-name>
		<url-pattern>/Employeefive/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveCreateServlet</servlet-name>
		<url-pattern>/Employeefive/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveSearchAgeServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByAgeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchAgeServlet</servlet-name>
		<url-pattern>/Employeefive/searchAge</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveSearchJoinedServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByJoinedController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchJoinedServlet</servlet-name>
		<url-pattern>/Employeefive/searchJoined</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveSearchReleaseServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByReleaseController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchReleaseServlet</servlet-name>
		<url-pattern>/Employeefive/searchRelease</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFiveSearchEmailServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByEmailIdController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchEmailServlet</servlet-name>
		<url-pattern>/Employeefive/searchEmail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmpFiveSearchPeriodServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByNotPeriodController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchPeriodServlet</servlet-name>
		<url-pattern>/Employeefive/searchPeriod</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmpFiveSearchGenderServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeefiveSearchByGenderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFiveSearchGenderServlet</servlet-name>
		<url-pattern>/Employeefive/searchGender</url-pattern>
	</servlet-mapping>


</web-app>